:root {
--primary-cl: #4d5ae5;
--primary-active-cl: #404bbf;
--main-dark-cl: #2E2F42;
--success-cl: #31D0AA;
--tx-main:#434455;
--tx-subtle: #8E8F99;
--accent-light-cl: #E7E9FC;
--light-cl: #F4F4FD;
--modal-overlay-cl: #2E2F42;
--bg-hero: #2E2F42;
--bg-main-light: #FFFFFF;
--bg-modal: #FCFCFC;

}

/**
  |============================
  | Common styles
  |============================
*/
body {
font-family: Roboto, sans-serif;
}
ul, ol {
    list-style: none;
}
a {
text-decoration: none;
color: currentColor
}
button {
    font-family: inherit;
    cursor: pointer;
}
address {
    font-style: normal;
}

/**
  |============================
  | Base styles
  |============================
*/
.section {

}

.title {

}

.subtitle {
    /* letter-spacing: normal; */
}

.page {}

.main {}

.hidden-element {}

/**
  |============================
  | Logo styles
  |============================
*/
.logo {}

.logo-dark-part {}

.logo-light-part{}

/**
  |============================
  | Header styles
  |============================
*/

.header {}

.header-nav {}

.header-list {}

.header-item {}

.header-link {}

.header-contacts {}

.header-contacts-item {}

.header-contacts-link {}


/* Index styles */

/**
  |============================
  | Hero section styles
  |============================
*/

.hero {}

.hero-title {}

.hero-button {}

/**
  |============================
  | Our advantages
  |============================
*/

.advantages {}

.advantages-list {}

.advantages-cards {}

.advantages-description {}

/**
  |============================
  | What are we doing
  |============================
*/

.what-are {}

.what-list {}

.what-card {}

.what-img {}

/**
  |============================
  | Our team 
  |============================
*/

.team {}

.team-list {}

.team-card {}

.team-img {}

.team-description {}

/**
  |============================
  | Footer 
  |============================
*/
.footer {}

.footer-text {}


/* Portfolio styles */

/**
  |============================
  | Portfolio section
  |============================
*/

 .portfolio {}

 .portfolio-list {}

 .portfolio-elem {}

 .portfolio-button {}

 .portf-projects-list {}

 .portf-projects-cards {}

 .portf-projects-link {}

 .portf-projects-img {}

 .portf-projects-desc {}
